<!doctype html>
<html>
<head>
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.8.3.js"></script>
	<script type ="text/javascript" src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
	<script type="text/javascript" src="/js/drawingboard.js"></script>
	<script type="text/javascript" src="/js/events.js"></script>
	<script type="text/javascript" src="/js/brushes.js"></script>
	<script type="text/javascript" src="/js/users.js"></script>
	<script type="text/javascript" src="/js/app.js"></script>
	<script type="text/javascript" src="/js/utils.js"></script>
	<script type="text/javascript" src="/js/chat.js"></script>
	<script type="text/javascript" src="/js/socket.io.js"></script>
	<script type="text/javascript" src="/js/spectrum.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link rel="stylesheet" type="text/css" href="/css/buttons.css">
	<link rel="stylesheet" type="text/css" href="/css/spectrum.css">
	 <link href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
	<script>
	</script>
</head>
<body>
	<div id="container">
		<div id="header">
			<div id ="buttonpanel">
				<ul>
					<a href="gallery">
						<li id="gallerybutton" href = "gallery"><button class="button orange glass round" data-icon="▦">View Gallery</button></li>
					</a>
					<li><button class="button green glossy round" data-icon="➥">Create Room </button></li>
					<li><button class="button pink glass round" data-icon="☺">Invite a Friend</button></li>
				</ul>
			</div>
		</div>

		<div id="components">
			
		<div id="drawingtool" class="clearfix">
			<div id="titlebar" class="clearfix">


				<div id="roomtitle">
					Room:
					<div id="value">
						Lobby
					</div>
				</div>

				<div id="username">
					Username:
					<div id="value">
						 Rajiev
					</div>
				</div>
			
			</div>

			<canvas id ="drawingboard" width="900" height="800"></canvas>

			<div id="tools" style ="text-align:center;">

				<!--
				<div id="palette">
				</div>
				-->

				<input type="text" id="picker">
				<div id="brushcanvas">
					<canvas id ="brush"></canvas>
				</div>
				<div id="slider"></div>
				<div id="buttons">
					<button class="button blue glossy round disabled" onselectstart="return false" data-icon="➥">Save Image</button>
					<button class="button blue glossy round disabled" onselectstart="return false" data-icon="✎">Publish to gallery</button>
				</div>

			</div>


			<div id="chattool" class="clearfix">
				<div id = "chatboard" >
				</div>
				<div id="typingbox">
					<input type ="text" name="textbox" id="textbox"></input>
					<button id="send" class="button green glossy">Send</button>
				</div>	
			</div>


		</div>


		</div>
	</div>
	</div>
</body>	
</html>