<!doctype html>
<html>

<head>
<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link rel="stylesheet" type="text/css" href="/css/buttons.css">
</head>

<div id="container">
		<div id="header">
			<div id ="buttonpanel">
				<ul>    <a href ="/">
							<li id="backbutton"><button class="button pink glossy round" data-icon="➥">Back</button></li>
						</a>
						<li><button class="button green glossy round" data-icon="➥">Create Room </button></li>
				</ul>
			</div>
		</div>

